<!DOCTYPE html>
<html lang="es">

<head>
  {% include 'parts/head.view.twig' %}
  <link rel="stylesheet" href="/assets/styles/compra.css" />
  <!--PARA OPCIONES SOBRE EL MENU-->
   <script src="/assets/js/components/paw.js"></script>
   <script src="/assets/js/appMenu.js"></script>
</head>

<body>
  <!--HEADER-->
  {% include 'parts/header.view.twig' %}

  <!--CODIGO DE MENU-->
  <main>
    <header class="header-menu menu-background">
      <h1 class="menu-titulo">Menu</h1>
    </header>
    <h2 class="titulo-comida">COMIDA DEL MES</h2>
    <section class="seccion-comida-mes">
      <article class="article-comida-mes">
        <h3>{{ comida_mes.nombre }}</h3>
        <figure class="figura-hamburguesa">
          <img class="comida-imagen" src="/assets/platos/{{ comida_mes.imagen }}" alt="{{ comida_mes.nombre }}" width="500" />
          <figcaption class="descripcion-cmida">{{ comida_mes.descripcion }}</figcaption>
        </figure>
        <p class="precio-comida">{{ comida_mes.precio }}</p>
        <a class="pedir-comida" href="./pedirComida?id={{ comida_mes.id }}">PEDIR</a>
      </article>
    </section>

    <h2 class="titulo-comida">HAMBURGUESAS</h2>

     <form method="GET" enctype="multipart/form-data" class="form-menu-order-cat" action=""> <!--Post y redireccionamiento a compra/menu -->
      <div class="order-options">
        <select name="order" id="order">
          <option value="default">ORDENAR POR</option>
          <option value="nombre_asc" {% if order == 'nombre_asc' %}selected{% endif %}>Nombre (A-Z)</option>
          <option value="nombre_desc" {% if order == 'nombre_desc' %}selected{% endif %}>Nombre (Z-A)</option>
          <option value="precio_asc" {% if order == 'precio_asc' %}selected{% endif %}>Precio (bajo a alto)</option>
          <option value="precio_desc" {% if order == 'precio_desc' %}selected{% endif %}>Precio (alto a bajo)</option>
        </select>
      </div>

      <!--falta definir categoria a usar para trabajar con este filtrado--->
      <div class="filter-options">
        <label for="filter">FILTRAR</label>
        <select name="categoria" id="categoria">
          <option value="">Todas</option>
          <option value="categoria1">Categoria 1</option> <!-- esto seria dinamico a las categorias que quisieramos-->
          <option value="categoria2">Categoria 2</option>
        </select>

        <label for="min_precio">Precio mínimo:</label>
        <input type="number" id="min_precio" name="min_precio" min="0">
        
        <label for="max_price">Precio máximo:</label>
        <input type="number" id="max_precio" name="max_precio" min="0">
        <button type="submit" id="filtrar">&#9660;</button>
      </div>
    </form>

   
    <section class="seccion-comida">
      {% for comida in menu %}
      <article class="article-comida">
        <h3>{{ comida.nombre }}</h3>
        <figure class="figura-hamburguesa">
          <img class="comida-imagen" src="/assets/platos/{{ comida.imagen }}" alt="{{ comida.nombre }}" width="500" />
          <figcaption class="descripcion-comida">{{ comida.descripcion }}</figcaption>
        </figure>
        <p class="precio-comida">{{ comida.precio }}</p>
        <a class="pedir-comida" href="./pedirComida?id={{ comida.id }}">PEDIR</a>
      </article>
      {% endfor %}
    </section>

    <a href="../menu/crearPlato">Crear plato</a>

  </main>

  <!--FOOTER-->
  {% include 'parts/footer.view.twig' %}
</body>

</html>
