<!DOCTYPE html>
<html lang="es">

<head>
  {% include 'parts/head.view.twig' %}
  <link rel="stylesheet" href="/assets/styles/compra.css" />
  <!--PARA OPCIONES SOBRE EL MENU-->
   <script src="/assets/js/components/paw.js"></script>
   <script src="/assets/js/appMenu.js"></script>
</head>

<body>
  <!--HEADER-->
  {% include 'parts/header.view.twig' %}

  <!--CODIGO DE MENU-->
  <main>
    <header class="header-menu menu-background">
      <h1 class="menu-titulo">Menu</h1>
    </header>
    <h2 class="titulo-comida">COMIDA DEL MES</h2>
    <section class="seccion-comida-mes">
    {% if comida_mes %}
    
      <article class="article-comida-mes">
        <h3>{{ comida_mes.nombre }}</h3>
        <figure class="figura-hamburguesa">
          <img class="comida-imagen" src="/assets/platos/{{ comida_mes.imagen }}" alt="{{ comida_mes.nombre }}" width="500" />
          <figcaption class="descripcion-cmida">{{ comida_mes.descripcion }}</figcaption>
        </figure>
        <p class="precio-comida">{{ comida_mes.precio }}</p>
        <a class="pedir-comida" href="./pedirComida?id={{ comida_mes.id }}">PEDIR</a>
      </article>
    {% else %}
      <p>No hay comida del mes disponible.</p>
    {% endif %}
    </section>
    

    <h2 class="titulo-comida">HAMBURGUESAS</h2>

     <form method="GET" class="form-menu-order-cat" action=""> 
     <p> Filtros</p>
        <label for="min_price">Precio mínimo:
        <input type="number" id="min_price" name="min_price" value="{{ min_price }}">
        </label>
        <label for="max_price">Precio máximo:
        <input type="number" id="max_price" name="max_price" value="{{ max_price }}">
        </label>
        <label for="sort">Ordenar por:
        <select id="sort" name="sort">
            <option value="precio">Precio</option>
            <option value="nombre">Nombre</option>
        </select>
        </label>
        <label for="direction">Dirección:
        <select id="direction" name="direction">
            <option value="ASC">Ascendente</option>
            <option value="DESC">Descendente</option>
        </select>
        </label>

        <button type="submit">Filtrar</button>
    </form>

   
    <section class="seccion-comida">
    {% if menu|length > 0 %}
      {% for comida in menu %}
      <article class="article-comida">
        <h3>{{ comida.nombre }}</h3>
        <figure class="figura-hamburguesa">
          <img class="comida-imagen" src="/assets/platos/{{ comida.imagen }}" alt="{{ comida.nombre }}" width="500" />
          <figcaption class="descripcion-comida">{{ comida.descripcion }}</figcaption>
        </figure>
        <p class="precio-comida">{{ comida.precio }}</p>
        <a class="pedir-comida" href="./pedirComida?id={{ comida.id }}">PEDIR</a>
      </article>
      {% endfor %}
    {% else %}
    <p>No hay hamburguesas disponibles.</p>
    {% endif %}
    </section>

    <a href="../menu/crearPlato">Crear plato</a>
    <!--<a href="#" id="download-csv-link" class="button">Descargar CSV</a>-->

    <!--Aca iria el nav contenedor-links que ya tiene su estilo, para generar la paginación items->
  </main>

  <!--FOOTER-->
  {% include 'parts/footer.view.twig' %}
</body>

</html>
