<!DOCTYPE html>
<html lang="es">

<head>
  {% include 'parts/head.view.twig' %}
  <link rel="stylesheet" href="/assets/styles/compra.css" />
</head>

<body>
  <!--HEADER-->
  {% include 'parts/header.view.twig' %}

  <main>
    <!--Codigo comida-->
    <header class="header-menu menu-background">
      <h1 class="menu-titulo">Menu</h1>
    </header>

    <section>
      <h2 class="comida-seleccionada">{{comida.nombre}}</h2>
      <figure class="figura-comida-seleccionada">
        <img class="img-comida-seleccionada" src="/assets/platos/{{comida.imagen}}" alt="Comida seleccionada para pedir"
          width="500" />
        <figcaption>{{comida.descripcion}}</figcaption>
      </figure>
    </section>

    <div class="formularioPedidoComida">
      <form method="POST" action="" class="formPedidoComida">

        <label for="inputTexto">
          Aclaraciones del Menú elegido:
          <input id="inputTexto" type="text" name="aclaracionesPedir" maxlength="500" minlength="5" size="30" />
        </label>

        <label class="cantidad-producto">Cantidad*
          <!--Con javascript sera un contador-->
          <input type="number" name="cantidadHamburguesa" min="1" required />
        </label>

        <p class="precio total">$ {{comida.precio}}</p>
        <button type="submit">Agregar al carrito</button>

        {% if mensajePedido is defined %}
          <p class="mensaje-pedido">{{ mensajePedido }}</p>
        {% endif %}

      </form>
    </div>
  </main>

  <!--FOOTER-->
  {% include 'parts/footer.view.twig' %}
</body>

</html>