<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'parts/head.view.twig' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<link rel="stylesheet" href="/assets/styles/estadoCocina.css" /> -->
    <script src="/assets/js/components/paw.js"></script>
   {#  <script src="/assets/js/appPedidoCocina.js"></script> #}
    <script src="/assets/js/appHora.js"></script>
    <link rel="stylesheet" href="/assets/styles/estadococina.css" />

    <title>Estado Cocina - Paw Power</title>
</head>

<body>
    <main>
        <header class="header-principal">
            {% set home = rutasLogoHeader %}
            <a href=" {{ home["href"] }}">
                <img src="../assets/Imagotipo-blanco.png" alt="Paw Power" class="logo" />
            </a>
        </header>


        <h2 class="hora"></h2>

        <section class="pedidos">
            {% for pedidosConsumo in pedidos %}
                <article data-id="{{ pedidosConsumo.id }}" class="pedido">
                    {% if pedidosConsumo.estado == "Listo para retirar"%}
                        <div class="cabeceraListo">PEDIDO {{ pedidosConsumo.id }} - {{pedidosConsumo.fecha_pedido}}</div>
                    {% elseif pedidosConsumo.estado == "En preparacion" %}
                        <div class="cabeceraPreparacion">PEDIDO {{ pedidosConsumo.id }} - {{ pedidosConsumo.fecha_pedido }}</div>
                    {% endif %}
                    {# VER COMO HACER PARA LA DE PRIORIDAD #}
                    <article class="items">
                        {% for productos in pedidosConsumo.elementos %}
                            <ul class="item">
                                <li class="nombre">{{productos.id_plato}}(nombre)</li>
                                <li class="cantidad">Cantidad: {{productos.cantidad}}</li>
                                <li class="aclaraciones">Aclaraciones: {{productos.aclaraciones}}</li>
                            </ul>
                            
                        {% endfor %}
                    </article>
                </article>
            {% endfor %}
        </section>
    </main>
</body>

</html>
