<!DOCTYPE html>
<html lang="es">

<head>
  {% include 'parts/head.view.twig' %}
  <link rel="stylesheet" href="/assets/styles/cuentas.css" />
  <link rel="stylesheet" href="/assets/styles/formularios.css">
</head>

<body>
  <!--HEADER-->
  {% include 'parts/header.view.twig' %}

  <main>
    <h1>Gestión de consumos</h1>
    <section id="pedidos">
      <h2>Pedidos</h2>
      <ul class="pedidosList">
        {% for pedidosConsumo in pedidos %}
        <li>
          <p>IDPedido: {{pedidosConsumo.id}} - IDUsuario:{{pedidosConsumo.idUsuario}}- Fecha:{{pedidosConsumo.fecha_pedido}}</p>
          <ul>
            <p> -Productos: </p>
            {% for productos in pedidosConsumo.elementos %}
            <li>
              <p> --- Plato: {{productos.id_plato}}</p>
            </li>
            <li>
              <p> --- Cantidad: {{productos.cantidad}}</p>
            </li>
            <li>
              <p> --- Aclaraciones: {{productos.aclaraciones}}</p>
            </li>
            </br>
            {% endfor %}
          </ul>
        </li>
        </br>
        {% endfor %}

      </ul>
    </section>

    <section class="reportes">
      <h2>Reservas</h2>
      <ul class="reportesList">
        <li>
          <p>Reserva 1</p>
        </li>
        <li>
          <p>Reserva 2</p>
        </li>
        <li>
          <p>Reserva 3</p>
        </li>
      </ul>
    </section>
  </main>

  <!--FOOTER-->
  {% include 'parts/footer.view.twig' %}
</body>

</html>
